$grey: #bdccce;
$pink: #fa0060;
$black: #1d1b1b;
$small: 1rem;
$smedium: 1.2rem;
$medium: 1.5rem;
$large: 2rem;

@font-face {
    font-family: "Surt";
    src: url("/fonts/Surt-Regular.woff2") format("woff2"), url("/fonts/Surt-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Surt";
    src: url("/fonts/Surt-RegularOblique.woff2") format("woff2"), url("/fonts/Surt-RegularOblique.woff") format("woff");
    font-weight: normal;
    font-style: oblique;
    font-display: swap;
}

html {
    background-color: $grey;
    font-family: "Surt";
    font-style: normal;
    font-size: 16px;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    text-align: center;
}

* {
    box-sizing: border-box;
}

p {
    margin: 0px;
}

button {
    cursor: pointer;
}

.button {
    font-size: $small;
    border-radius: 50px;
    border-style: solid;
    border-width: 1px;
    border-color: $black;
    background-color: $grey;
    padding: 8px 15px;
    color: $black;
    transition: color 0.3 cubic-bezier(0.854, 0.681, 0, 1.003), background-color 0.3 cubic-bezier(0.854, 0.681, 0, 1.003);
}
.button:hover {
    background-color: $black;
    color: $grey;
}

.navButton {
    margin-right: 1rem;
}
#Container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    height: 100%;
}

.selectable {
    margin-right: 1rem;
}

.selectable:last-of-type {
    margin-right: 0rem;
}
#Page {
    height: 100%;
    width: 100%;
    padding: 3%;
}

#AnswerArea {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    min-height: 35%;

    .answerbox {
        border-style: solid;
        border-width: 1px;
        border-right: none;
        border-color: $black;
        width: 25%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        padding-bottom: 1rem;
        border-top: none;

        .quizbutton {
            font-size: $small;
            border-radius: 50px;
            border-style: solid;
            border-width: 1px;
            border-color: $black;
            background-color: $grey;
            padding: 8px 15px;
            color: $black;
            transition: color 0.3 cubic-bezier(0.854, 0.681, 0, 1.003), background-color 0.3 cubic-bezier(0.854, 0.681, 0, 1.003);
        }
        .quizbutton:hover {
            color: $pink;
            border-color: $pink;
        }
        .nonButton {
            pointer-events: none;
            border-width: 0px;

            transition: color 0.3 cubic-bezier(0.854, 0.681, 0, 1.003), background-color 0.3 cubic-bezier(0.854, 0.681, 0, 1.003);
        }
        .nonButton:hover {
            color: $black;
            border-color: $pink;
        }
    }

    .answerbox:last-of-type {
        border-right: solid;
        border-width: 1px;
        border-color: $black;
    }
}

#BindingBox {
    max-height: 30vh;
    overflow-y: scroll;
    .bound {
        margin-top: 1rem;
    }
}

#NavArea {
    min-height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}

#Title {
    margin: 0px;
    font-size: 2rem;
}

#QuestionArea {
    min-height: 10%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    #QuesTextArea {
        margin-top: 1rem;
    }
    #QuesNumText {
        font-size: $small;
    }
    #QuesTextText {
        font-size: $medium;
    }
}
#Buffer.single {
    min-height: 5%;
}
#Buffer.double {
    min-height: 10%;
}

#PeopleArea {
    min-height: 15%;
    background-color: $pink 0.1;
}

#TopAnswerArea {
    // min-height: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    position: relative;
    z-index: 1001;
    .comment {
        width: 100%;
        margin: auto;
        height: 30vh;
        background-color: $grey;
        outline: none;
        border: $black;
        border-width: 1px;
        border-style: solid;
        resize: none;
        padding: 1rem;
        font-size: $smedium;
        font-family: "Surt";
    }

    #OtherAnswers {
        width: 100%;
        margin: auto;
        height: 30vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        #OtherAns {
            text-align: center;
            font-size: $medium;
            color: $pink;
        }
    }

    .characterCount {
        margin-bottom: 1rem;
        font-style: oblique;
    }
    .topanswerbox {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border-style: solid;
        border-width: 1px;
        border-right: none;
        border-color: $black;
        width: 50%;
        min-height: 100%;
        padding: 10px;
    }
    .topanswerbox:last-of-type {
        border-right: solid;
        border-width: 1px;
        border-color: $black;
    }
    #IntroTextArea {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
        width: 70%;
        margin-top: -2vh;
        #IntroTextText {
            font-size: $smedium;
            margin-bottom: 1rem;
            text-align: center;
        }
        #HiddenText {
            font-size: $smedium;
            margin-bottom: 1rem;
            text-align: center;
        }
        #IntroLinkText {
            font-size: $smedium;
            margin-bottom: 1rem;
            text-align: center;
            text-decoration: underline;
            color: $black;
            margin-bottom: 1rem;
            cursor: pointer;
        }
        #summaryText {
            max-height: 50vh;
            overflow-y: auto;
        }
        .comment.small {
            max-height: 15vh;
            margin-bottom: 1rem;
        }
        .comment.small:last-of-type {
            margin-bottom: 0rem;
        }
        #ButtonBox {
            margin-bottom: 2rem;
            .buttonLike {
                font-size: $small;
                border-radius: 50px;
                border-style: solid;
                border-width: 1px;
                border-color: $black;
                background-color: $grey;
                padding: 8px 15px;
                color: $black;
                margin-left: 1rem;
            }
            .buttonLike:focus {
                border-color: $pink;
                outline: none;
            }
            .butselected {
                border-color: $pink;
                color: $pink;
            }
            .miniTextArea {
                margin-top: 1rem;
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                font-style: oblique;
                font-size: $small;
            }
            .button{
                margin:0.5rem 0.5rem
            }
        }
    }
}

.os-scrollbar-handle {
    background-color: #3d405b !important;
}

.os-scrollbar.os-scrollbar-vertical {
    border-radius: 8px;
    width: 16px;
    background-color: #f2cc8f;
    padding: 0px;
    z-index: 99999;
    top: 20px !important;
    bottom: 20px !important;
}

.nextButton {
    background-color: $black;
    color: $grey;
    margin: auto;
    margin-top: 2rem;
    margin-right: 1rem;
    margin-left: 1rem;
}
.nextButton:hover {
    background-color: $pink;
    color: $black;
}

.dot {
    height: auto;
    position: absolute;
    overflow: visible;
    max-width: 6vw;
    transform: translate(-50%, -50%);
    transform-origin: 50% 100%;
    transition-timing-function: cubic-bezier(0.45, 0.05, 0.55, 0.95);
    transition-property: transform, top, left;
    pointer-events: auto;
    will-change: transform, top, left;
    backface-visibility: hidden;
    transform-style: preserve-3d;
}

.invert svg {
    scale: -1 1;
    transform: scale(-1, 1);
}
svg {
    scale: 1 1;
    transform: scale(1, 1);
    //display: block;
    overflow: visible;
}
.hidden {
    display: none !important;
}
.pink {
    color: $pink !important;
}

.pink2 {
    color: $pink !important;
}

.pinkdot > svg:nth-child(1) > g:nth-child(2) > g:nth-child(1) > path:nth-child(2) {
    fill: $pink !important;
}
#MobOnly {
    display: none;
}

@media only screen and (max-width: 760px) {
    .desk {
        display: none !important;
    }

    .dot {
        display: none !important;
    }
    #Nav {
        display: none !important;
    }
    #NavArea {
        justify-content: center;
        min-height: auto;
    }
    #Container {
        justify-content: center;
    }
    #MobOnly {
        display: block;
        padding: 0px 5vw;
        margin-top: 2rem;

        #ButtonBox {
            margin-top: 1rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .button {
                margin-top: 1rem;
            }
        }
    }
}

.cls-1 {
    fill-opacity: 0.1;
    fill: $black;
}
.cls-2 {
    fill: $black;
    stroke: $grey;
}

.cls-3 {
    fill: $grey;
}
