@font-face {
  font-family: "Surt";
  src: url("/fonts/Surt-Regular.woff2") format("woff2"), url("/fonts/Surt-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Surt";
  src: url("/fonts/Surt-RegularOblique.woff2") format("woff2"), url("/fonts/Surt-RegularOblique.woff") format("woff");
  font-weight: normal;
  font-style: oblique;
  font-display: swap;
}

html {
  background-color: #bdccce;
  font-family: "Surt";
  font-style: normal;
  font-size: 16px;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  text-align: center;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

p {
  margin: 0px;
}

button {
  cursor: pointer;
}

.button {
  font-size: 1rem;
  border-radius: 50px;
  border-style: solid;
  border-width: 1px;
  border-color: #1d1b1b;
  background-color: #bdccce;
  padding: 8px 15px;
  color: #1d1b1b;
  -webkit-transition: color 0.3 cubic-bezier(0.854, 0.681, 0, 1.003), background-color 0.3 cubic-bezier(0.854, 0.681, 0, 1.003);
  transition: color 0.3 cubic-bezier(0.854, 0.681, 0, 1.003), background-color 0.3 cubic-bezier(0.854, 0.681, 0, 1.003);
}

.button:hover {
  background-color: #1d1b1b;
  color: #bdccce;
}

.navButton {
  margin-right: 1rem;
}

#Container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  height: 100%;
}

.selectable {
  margin-right: 1rem;
}

.selectable:last-of-type {
  margin-right: 0rem;
}

#Page {
  height: 100%;
  width: 100%;
  padding: 3%;
}

#AnswerArea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  min-height: 35%;
}

#AnswerArea .answerbox {
  border-style: solid;
  border-width: 1px;
  border-right: none;
  border-color: #1d1b1b;
  width: 25%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 1rem;
  border-top: none;
}

#AnswerArea .answerbox .quizbutton {
  font-size: 1rem;
  border-radius: 50px;
  border-style: solid;
  border-width: 1px;
  border-color: #1d1b1b;
  background-color: #bdccce;
  padding: 8px 15px;
  color: #1d1b1b;
  -webkit-transition: color 0.3 cubic-bezier(0.854, 0.681, 0, 1.003), background-color 0.3 cubic-bezier(0.854, 0.681, 0, 1.003);
  transition: color 0.3 cubic-bezier(0.854, 0.681, 0, 1.003), background-color 0.3 cubic-bezier(0.854, 0.681, 0, 1.003);
}

#AnswerArea .answerbox .quizbutton:hover {
  color: #fa0060;
  border-color: #fa0060;
}

#AnswerArea .answerbox .nonButton {
  pointer-events: none;
  border-width: 0px;
  -webkit-transition: color 0.3 cubic-bezier(0.854, 0.681, 0, 1.003), background-color 0.3 cubic-bezier(0.854, 0.681, 0, 1.003);
  transition: color 0.3 cubic-bezier(0.854, 0.681, 0, 1.003), background-color 0.3 cubic-bezier(0.854, 0.681, 0, 1.003);
}

#AnswerArea .answerbox .nonButton:hover {
  color: #1d1b1b;
  border-color: #fa0060;
}

#AnswerArea .answerbox:last-of-type {
  border-right: solid;
  border-width: 1px;
  border-color: #1d1b1b;
}

#BindingBox {
  max-height: 30vh;
  overflow-y: scroll;
}

#BindingBox .bound {
  margin-top: 1rem;
}

#NavArea {
  min-height: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

#Title {
  margin: 0px;
  font-size: 2rem;
}

#QuestionArea {
  min-height: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#QuestionArea #QuesTextArea {
  margin-top: 1rem;
}

#QuestionArea #QuesNumText {
  font-size: 1rem;
}

#QuestionArea #QuesTextText {
  font-size: 1.5rem;
}

#Buffer.single {
  min-height: 5%;
}

#Buffer.double {
  min-height: 10%;
}

#PeopleArea {
  min-height: 15%;
  background-color: #fa0060 0.1;
}

#TopAnswerArea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  position: relative;
  z-index: 1001;
}

#TopAnswerArea .comment {
  width: 100%;
  margin: auto;
  height: 30vh;
  background-color: #bdccce;
  outline: none;
  border: #1d1b1b;
  border-width: 1px;
  border-style: solid;
  resize: none;
  padding: 1rem;
  font-size: 1.2rem;
  font-family: "Surt";
}

#TopAnswerArea #OtherAnswers {
  width: 100%;
  margin: auto;
  height: 30vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#TopAnswerArea #OtherAnswers #OtherAns {
  text-align: center;
  font-size: 1.5rem;
  color: #fa0060;
}

#TopAnswerArea .characterCount {
  margin-bottom: 1rem;
  font-style: oblique;
}

#TopAnswerArea .topanswerbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-style: solid;
  border-width: 1px;
  border-right: none;
  border-color: #1d1b1b;
  width: 50%;
  min-height: 100%;
  padding: 10px;
}

#TopAnswerArea .topanswerbox:last-of-type {
  border-right: solid;
  border-width: 1px;
  border-color: #1d1b1b;
}

#TopAnswerArea #IntroTextArea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  width: 70%;
  margin-top: -2vh;
}

#TopAnswerArea #IntroTextArea #IntroTextText {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  text-align: center;
}

#TopAnswerArea #IntroTextArea #HiddenText {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  text-align: center;
}

#TopAnswerArea #IntroTextArea #IntroLinkText {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  text-align: center;
  text-decoration: underline;
  color: #1d1b1b;
  margin-bottom: 1rem;
  cursor: pointer;
}

#TopAnswerArea #IntroTextArea #summaryText {
  max-height: 50vh;
  overflow-y: auto;
}

#TopAnswerArea #IntroTextArea .comment.small {
  max-height: 15vh;
  margin-bottom: 1rem;
}

#TopAnswerArea #IntroTextArea .comment.small:last-of-type {
  margin-bottom: 0rem;
}

#TopAnswerArea #IntroTextArea #ButtonBox {
  margin-bottom: 2rem;
}

#TopAnswerArea #IntroTextArea #ButtonBox .buttonLike {
  font-size: 1rem;
  border-radius: 50px;
  border-style: solid;
  border-width: 1px;
  border-color: #1d1b1b;
  background-color: #bdccce;
  padding: 8px 15px;
  color: #1d1b1b;
  margin-left: 1rem;
}

#TopAnswerArea #IntroTextArea #ButtonBox .buttonLike:focus {
  border-color: #fa0060;
  outline: none;
}

#TopAnswerArea #IntroTextArea #ButtonBox .butselected {
  border-color: #fa0060;
  color: #fa0060;
}

#TopAnswerArea #IntroTextArea #ButtonBox .miniTextArea {
  margin-top: 1rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-style: oblique;
  font-size: 1rem;
}

.os-scrollbar-handle {
  background-color: #3d405b !important;
}

.os-scrollbar.os-scrollbar-vertical {
  border-radius: 8px;
  width: 16px;
  background-color: #f2cc8f;
  padding: 0px;
  z-index: 99999;
  top: 20px !important;
  bottom: 20px !important;
}

.nextButton {
  background-color: #1d1b1b;
  color: #bdccce;
  margin: auto;
  margin-top: 2rem;
  margin-right: 1rem;
  margin-left: 1rem;
}

.nextButton:hover {
  background-color: #fa0060;
  color: #1d1b1b;
}

.dot {
  height: auto;
  position: absolute;
  overflow: visible;
  max-width: 6vw;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
  -webkit-transition-timing-function: cubic-bezier(0.45, 0.05, 0.55, 0.95);
          transition-timing-function: cubic-bezier(0.45, 0.05, 0.55, 0.95);
  -webkit-transition-property: top, left, -webkit-transform;
  transition-property: top, left, -webkit-transform;
  transition-property: transform, top, left;
  transition-property: transform, top, left, -webkit-transform;
  pointer-events: auto;
  will-change: transform, top, left;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.invert svg {
  scale: -1 1;
  -webkit-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

svg {
  scale: 1 1;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
  overflow: visible;
}

.hidden {
  display: none !important;
}

.pink {
  color: #fa0060 !important;
}

.pink2 {
  color: #fa0060 !important;
}

.pinkdot > svg:nth-child(1) > g:nth-child(2) > g:nth-child(1) > path:nth-child(2) {
  fill: #fa0060 !important;
}

#MobOnly {
  display: none;
}

@media only screen and (max-width: 760px) {
  .desk {
    display: none !important;
  }
  .dot {
    display: none !important;
  }
  #Nav {
    display: none !important;
  }
  #NavArea {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    min-height: auto;
  }
  #Container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #MobOnly {
    display: block;
    padding: 0px 5vw;
    margin-top: 2rem;
  }
  #MobOnly #ButtonBox {
    margin-top: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #MobOnly #ButtonBox .button {
    margin-top: 1rem;
  }
}

.cls-1 {
  fill-opacity: 0.1;
  fill: #1d1b1b;
}

.cls-2 {
  fill: #1d1b1b;
  stroke: #bdccce;
}

.cls-3 {
  fill: #bdccce;
}
/*# sourceMappingURL=style.css.map */